body {
  background: #fff;
}


header,section,footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(209, 218, 218);

}

header {
  height: 150px;
  background-color: rgb(223, 241, 241);
}

#logo {
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

#logo img {
  width: 100px;
}

#btn {
  width: 900px;
  height: 80px;
  float: right;
  margin: 37.5px;
}

ul.btn_header {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

ul.btn_header li {
  flex-grow: 1;
}

ul.btn_header li a {
  display: flex;
  color: rgb(167, 62, 30);
  padding: 20px;
  background-color: rgb(79, 177, 180);
  margin: 5px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 15px;
  justify-content: center;
 
}

ul.btn_header li a:hover {
  background-color: rgb(208, 241, 22);
}


#seccion1{
  width: 1200px;
  height: 700px;
  background-color: aquamarine;
}

.image {
  float: right;
  margin: 0 0 20px 20px;
  max-width: 40%;
  height: auto;
}

.txt {
  float: left;
  width: 40%;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}

#trabajos {
  width: 1200px;
  height: 700px;
  background-color: burlywood;
}

h1 {
  text-align: center;
}


#footer {
  width: 1200px;
  height: 350px;
  background-color: cadetblue;
}